---
import BaseLayout from "./BaseLayout.astro";
import TagList from "../components/TagList.astro";
import CommentSection from "@components/preact/CommentSection";
import { getSession } from "auth-astro/server";
const { frontmatter } = Astro.props;
const postId = Astro.params.slug!;
const session = await getSession(Astro.request);
const isLogin = !!session?.user?.id;
---

<BaseLayout
  pageTitle={frontmatter.title}
  pageDescription={frontmatter.description}
>
  <main class="flex-1 mx-auto max-w-3xl">
    <div class="text-slate-950 dark:text-slate-50">
      <p class="motion-opacity-in motion-translate-y-in-100">
        Published on: {frontmatter.pubDate.toLocaleDateString()}
      </p>
      <p class="motion-opacity-in motion-translate-y-in-100">
        <em>{frontmatter.description}</em>
      </p>
      <p class="motion-opacity-in motion-translate-y-in-100">
        Written by {frontmatter.author}
      </p>
      <!-- <img -->
      <!-- src={frontmatter.image.url} -->
      <!-- width="100%" -->
      <!-- alt={frontmatter.image.alt} -->
      <!-- loading="lazy" -->
      <!-- /> -->
      <TagList tags={frontmatter.tags} />
    </div>
    <article class="dark:prose-invert prose lg:prose-lg prose-slate max-w-none">
      <slot />
    </article>
    <CommentSection postId={postId} isLogin={isLogin} client:load />
  </main>
</BaseLayout>
